@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;600;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    margin: 25px 0px;
}

nav img {
    width: 50px;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pages a {
    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #4B1AA1;
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin:100px 0px;
}

.person{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.person img{
    border: 0;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.person a{
    text-decoration: none;
    color: #4B1AA1;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    margin-top:20px;
}

footer {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8933FF;
}

.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-footer img {
    width: 100px;
    
}

.footer-list a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 58px;
    color: #FFFFFF;
    margin-right: 25px;
    text-decoration: none;
}

.love-footer {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
    margin-right: 25px;
}