{%extends "base.html"%}
{%block head%}
<link
  lang="sass"
  rel="stylesheet"
  href="../../static/styles/about-us/quick.css"
/>
{%endblock%} 
{%block content%}
<section class="quick">
  <div class="container">
    <div class="option">
      <img src="../../static/img/portfolio.png" alt="David's Picture" />
      {% if fellowPartner == 'david' %}
        <a href="/work/david">Work
          <br />
          Experience
        </a>
      {% else %}
        <a href="/work/enrique">Work
          <br />
          Experience
        </a>
      {%endif%}
    </div>
    <div class="option">
      <img src="../../static/img/education.png" alt="Education picture" />
      {% if fellowPartner == 'david' %}
        <a href="/education/david">Education</a>
      {% else %}
        <a href="/education/enrique">Education</a>
      {%endif%}
    </div>
  </div>
</section>
{%endblock%}
