{%extends "base.html"%}
{%block head%}
<link
  lang="sass"
  rel="stylesheet"
  href="../../static/styles/about-us/quick.css"
/>
{%endblock%} 
{%block content%}
<section class="quick">
  <div class="container">
    <div class="option">
      <img src="../static/img/portfolio.png" alt="David's Picture" />
      <a href="/work/david">
        Work
        <br />
        Experience
      </a>
    </div>
    <div class="option">
      <img src="../static/img/education.png" alt="Enrique's Picture" />
      <a href="/education/david"> Education </a>
    </div>
  </div>
</section>
{%endblock%}
