@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;600;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    margin: 25px 0px;
}

nav img {
    width: 50px;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pages a {
    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #4B1AA1;
    text-decoration: none;
}

.hero {
    position: relative;
    background: url('../img/Hero Background.png');
    height: 500px;
}

.hero .David {
    position: absolute;
    width: 200px;
    height: 200px;
    right: 100px;
    top: 50%;
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
    border-radius: 200px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hero .Enrique {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 100px;
    top: 50%;
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
    border-radius: 200px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hero h1 {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 86px;
    line-height: 104px;
    text-align: center;
    color: #FFFFFF;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.rectangle {
    width: 20px;
    height: 20px;
    border: solid #EA60B4 4px;
    position: absolute;
    top: 40px;
    left: 630px;
    z-index: 1;
    transform: rotate(45deg);
}

.triangle {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #03FEA5;
    position: absolute;
    top: 40px;
    right: 100px;
    z-index: 1;
    transform: rotate(45deg);
}

.inner-triangle {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #6928d8;
    position: absolute;
    top: 51px;
    right: 104px;
    z-index: 1;
    transform: rotate(45deg);
}

.circle {
    width: 20px;
    height: 20px;
    border: solid #E1FF01 4px;
    border-radius: 50%;
    position: absolute;
    top: 110px;
    left: 100px;
    z-index: 1;
}

.introduction {
    background-color: #F1F4F7;
    weight: 100%;
    height: 300px;
    position: relative;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.about-us h3 {
    margin: 50px 0px 25px 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 48px;
    text-align: center;
    color: #465A69;
}

.about-us p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 29px;
    text-align: center;
    color: #465A69;
}


.ramenL {
    position: absolute;
    width: 500px;
    left: -170px;
    top: 86.87px;
    transform: rotate(45deg);
    filter: invert(33%) sepia(15%) saturate(840%) hue-rotate(163deg) brightness(93%) contrast(85%);

}
.ramenR {
    position: absolute;
    width: 500px;
    right: -170px;
    top: 86.87px;
    transform: rotate(-45deg);
    filter: invert(33%) sepia(15%) saturate(840%) hue-rotate(163deg) brightness(93%) contrast(85%);
}

.view-bio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
}

.wrapper {
    width: 50%;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.wrapper img {
    filter: brightness(0.5);
    transition: filter 0.5s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper :hover {
    filter: brightness(1);
}

.wrapper button {
    border: 0;
    position: absolute;
    width: 400px;
    height: 100px;
    top: 80%;
    left: 0px;
    background-color: #FFFFFF;
    transition: width 0.5s;
}

.wrapper button :hover {
    width: 500px;
}

.wrapper button a {
    text-decoration: none;
    text-align: left;
}

.wrapper button h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 24px;
    color: #4B1AA1;
    text-decoration: none;
    margin-left: 50px;
}

.wrapper button p {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #4B1AA1;
    text-decoration: none;
    margin-left: 50px;
}

.container {
    padding-right: 50px;
    padding-left: 50px;
    margin: 100px 100px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.info>* {
    margin-bottom: 10px;
}

.info h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    color: #4B1AA1;
}

.info h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 77px;
    color: #4B1AA1;
}

.info h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: #000000;
}

.info p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    color: #7D7D7D;
}

.container img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.container .circle {
    left: 1150px;
}

.img-wrapper {
    position: relative;
}

.see-more {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #4B1AA1;
    border: 0;
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 5;
}


.see-more img {
    width: 30px;
    height: 30px;
}

.page-link {
    width: 600px;
    height: 500px;

}

.page-link img {
    width: 100%;
    height: 380px;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #F1F4F7;
    width: 100%;
}

.text-wrapper h3 a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 34px;
    color: #465A69;
    margin: 20px 0px 0px 20px;
}

.text-wrapper p {
    margin: 5px 50px 20px 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    color: #465A69;
}

h3 a {
    text-decoration: none;
}

#know-more h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;
    text-align: center;
    color: #4B1AA1;
}

.page-link-2 {
    width: 300px;
    height: 500px;
}

.page-link-2 a img {
    width: 100%;
    height: 380px;
}

footer {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8933FF;
}

.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-footer img {
    width: 100px;

}

.footer-list a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 58px;
    color: #FFFFFF;
    margin-right: 25px;
}

.love-footer {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
    margin-right: 25px;
}