<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    {%block head%}
    {%endblock%}
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <title>{{ title }}</title>
  </head>

  <body>
    <nav>
      <div class="logo">
        <img src="../../static/img/Fellow Logo.png" alt="logo" />
      </div>
      <div class="pages">
        <a href="/"> + About Us </a>
        <a href="/hobbies"> Our Hobbies </a>
        <a href="/places"> Places </a>
      </div>
    </nav>

    <main>
      {% block content%}{% endblock %}
      <footer class="footer">
        <div class="main-footer">
          <img src="../../static/img/pink ramen.png" alt="pink ramen" />
          <div class="footer-list">
            <a href="/">+About us</a>
            <a href="/hobbies">Our Hobbies</a>
            <a href="/places">Places</a>
          </div>
          <img src="../../static/img/green ramen.png" alt="green ramen" />
        </div>
        <div class="love-footer">&lt;/&gt; with 🤍 by David 🐱 & Enrique 🐶 </div>
      </footer>
    </main>
  </body>
</html>
