{% extends "base.html" %} {%block head%}
<link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
{%endblock%} {%block content%}
<section class="hero">
  <div class="rectangle"></div>
  <div class="triangle"></div>
  <div class="inner-triangle"></div>
  <div class="circle"></div>
  <img class="David" src="../static/img/david.png" alt="David's Photo" />
  <h1>
    Awesome <br />
    Production <br />
    Engineers
  </h1>
  <img class="Enrique" src="../static/img/enrique.jpg" alt="Enrique's Photo" />
</section>

<section class="introduction">
  <div class="about-us">
    <h3>
      We're designers, developers, students, problem solvers, ramen lovers and
      happy dancers
    </h3>
    <p>
      If you're looking for someone with this capacities, you are in the right
      place! <br />
      The best team you can search for is here, experience with ideathons,
      hackathons and <br />
      competitive programming is our quality seal to guarantee excellent work
    </p>
  </div>

    <img class="ramenL" src="../static/img/ramen icon.png" />
    <img class="ramenR" src="../static/img/ramen icon.png" />
</section>

<section class="view-bio">
  <div class="wrapper">
    <img src="../static/img/david-2.jpg" alt="David's Bio Background Image" />
    <button>
      <a href="/work/david">
        <h3>David Lázaro</h3>
        <p>View Bio</p>
      </a>
    </button>
  </div>
  <div class="wrapper">
    <img src="../static/img/enrique.jpg" alt="Enrique's Bio Background Image" />
    <button>
      <a href="/work/enrique">
        <h3>Enrique Rivera</h3>
        <p>View Bio</p>
      </a>
    </button>
  </div>
</section>

<section id="david-bio">
  <div class="container">
    <div class="info">
      <h4>David Lázaro - CS Student / Frond End Developer</h4>
      <h2>Your friendly nerd gym partner</h2>
      <h3>A hands-on hackathon lover with a huge love 4 orange cats</h3>
      <p>
        David has been responsible for bringin to life events and tech
        communities with partners like GitHub, Microsoft Learn, Google Students
        Club, Hack Club, and others. He has spend the last year learning
        Front-End technologies, DS&A and Dev Ops. When David isn't busy, he can
        be found in the gym or exploring the wonders of Mexico
      </p>
    </div>
    <div class="img-wrapper">
      <img src="../static/img/david-2.jpg" alt="David's Photo" />

      <a href="/about/quicksearch/david">
        <button class="see-more">
          <img src="../static/img/plus icon.png" alt="Plus icon" />
        </button>
      </a>
    </div>
    <div class="rectangle"></div>
    <div class="circle"></div>
  </div>
</section>

<section id="Enrique">
  <div class="container">
    <div class="info">
      <h4>Enrique Rivera - Physicist / Programmer</h4>
      <h2>Your goofy friend and homie</h2>
      <h3>An introvert by natural but extrovert by mindset</h3>
      <p>
        Enrique has been active member FRC robotics to lead a 
        team of programmers to create vision tracking systems and
        autonomous robot routines. This year I have been working 
        with quantum computers and rockets at the University of Texas at Austin. I 
        learn web development/data science in my free time
      </p>
    </div>
    <div class="img-wrapper">
      <img src="../static/img/enrique.jpg" alt="David's Photo" />

      <a href="/about/quicksearch/enrique">
        <button class="see-more">
          <img src="../static/img/plus icon.png" alt="Plus icon" />
        </button>
      </a>
    </div>
    <div class="rectangle"></div>
    <div class="circle"></div>
  </div>
</section>
<section id="know-more">
  <h2>Know more about us</h2>
  <div class="container">
    <div class="page-link">
      <a href="/">
        <img
          src="../static/img/Places image.png"
          alt="Places background image"
        />
      </a>
      <div class="text-wrapper">
        <h3>
          <a href="/"> Travels over the globe </a>
        </h3>
        <p>
          Discover all the amazing places where we have been and meet all the
          wonders that Texas & Mexico can bring.
        </p>
      </div>
    </div>

    <div class="page-link-2">
      <a href="/places">
        <img
          src="../static/img/Hobbies image.png"
          alt="Places background image"
        />
      </a>
      <div class="text-wrapper">
        <h3>
          <a href="/hobbies"> Hobbies </a>
        </h3>
        <p>Chill and relax reading about the stuff that make us happy!</p>
      </div>
    </div>
  </div>
</section>
{%endblock%}
