<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <title>{{ title }}</title>
  </head>

  <body>
    <nav>
      <div class="logo">
        <img src="../static/img/Fellow Logo.png" alt="logo" />
      </div>
      <div class="pages">
        <a href="/"> + About Us </a>
        <a href="/"> Our Hobbies </a>
        <a href="/"> Places </a>
      </div>
    </nav>

    <main>
      <section class="hero">
        <img class="David" src="../static/img/david.png" alt="David's Photo" />
        <h1>
          Awesome <br />
          Production <br />
          Engineers
        </h1>
        <img
          class="Enrique"
          src="../static/img/enrique.jpg"
          alt="Enrique's Photo"
        />
      </section>

      <section class="introduction">
          <div class="about-us">
              <h3>
                We're designers, developers, students, problem solvers <br />
                ramen lovers and happy dancers
              </h3>
              <p>
                If you’re looking for someone with this capacities, you are in the right place! <br />
                The best team you can search for is here, experience with ideathons, hackathons and <br />
                competitive programming is our quality seal to guarantee excellent work
              </p>
          </div>

          <div class="ramen">
            <img class="ramenL" src="../static/img/ramen icon.png">
            <img class="ramenR" src="../static/img/ramen icon.png">
          </div>
      </section>


    </main>
  </body>
</html>
