<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6276ffd574337c38ff1cd9d43df81443 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_6276ffd574337c38ff1cd9d43df81443" ></div>
        
</body>
<script>    
    
            var map_6276ffd574337c38ff1cd9d43df81443 = L.map(
                "map_6276ffd574337c38ff1cd9d43df81443",
                {
                    center: [19.427568618500434, -99.16714800327108],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_10f209551807d9e6eb2ca6bc1eae66aa = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6276ffd574337c38ff1cd9d43df81443);
        
    
            var marker_cbf7538fdefa04366edda426c0828226 = L.marker(
                [19.441880355203104, -99.20565298488336],
                {}
            ).addTo(map_6276ffd574337c38ff1cd9d43df81443);
        
    
        var popup_e576e09b36614ac05d7ce3220782791b = L.popup({"maxWidth": "100%"});

        
            var html_ae53c69cbd8dbe05bf48e7cfcf7b3a44 = $(`<div id="html_ae53c69cbd8dbe05bf48e7cfcf7b3a44" style="width: 100.0%; height: 100.0%;"><i>Mexico City</i></div>`)[0];
            popup_e576e09b36614ac05d7ce3220782791b.setContent(html_ae53c69cbd8dbe05bf48e7cfcf7b3a44);
        

        marker_cbf7538fdefa04366edda426c0828226.bindPopup(popup_e576e09b36614ac05d7ce3220782791b)
        ;

        
    
    
            marker_cbf7538fdefa04366edda426c0828226.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d9b9d0a4d8a3c6ce52b42a37453727ba = L.marker(
                [25.671574060835916, -100.31044027616298],
                {}
            ).addTo(map_6276ffd574337c38ff1cd9d43df81443);
        
    
        var popup_f8042034ec1f06236edb5397f7061ca4 = L.popup({"maxWidth": "100%"});

        
            var html_c0602b41c2b4fce355ce62617225e7df = $(`<div id="html_c0602b41c2b4fce355ce62617225e7df" style="width: 100.0%; height: 100.0%;"><i>Monterrey</i></div>`)[0];
            popup_f8042034ec1f06236edb5397f7061ca4.setContent(html_c0602b41c2b4fce355ce62617225e7df);
        

        marker_d9b9d0a4d8a3c6ce52b42a37453727ba.bindPopup(popup_f8042034ec1f06236edb5397f7061ca4)
        ;

        
    
    
            marker_d9b9d0a4d8a3c6ce52b42a37453727ba.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9059f7423e7d20fd47275440a871899c = L.marker(
                [19.200450774980304, -96.13845660409997],
                {}
            ).addTo(map_6276ffd574337c38ff1cd9d43df81443);
        
    
        var popup_49f1ccc8786068c13cbdf1d099ada281 = L.popup({"maxWidth": "100%"});

        
            var html_fe25ed658ebb4f3126150830a70592db = $(`<div id="html_fe25ed658ebb4f3126150830a70592db" style="width: 100.0%; height: 100.0%;"><i>Veracruz</i></div>`)[0];
            popup_49f1ccc8786068c13cbdf1d099ada281.setContent(html_fe25ed658ebb4f3126150830a70592db);
        

        marker_9059f7423e7d20fd47275440a871899c.bindPopup(popup_49f1ccc8786068c13cbdf1d099ada281)
        ;

        
    
    
            marker_9059f7423e7d20fd47275440a871899c.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e9f6783823b70cfa004be7708359e889 = L.marker(
                [30.285303649633462, -97.7342065363303],
                {}
            ).addTo(map_6276ffd574337c38ff1cd9d43df81443);
        
    
        var popup_1b133d9404f85a0d94d9e422ea9e9305 = L.popup({"maxWidth": "100%"});

        
            var html_1c47e8167425094c495c5ce52ccb20c4 = $(`<div id="html_1c47e8167425094c495c5ce52ccb20c4" style="width: 100.0%; height: 100.0%;"><i>Austin</i></div>`)[0];
            popup_1b133d9404f85a0d94d9e422ea9e9305.setContent(html_1c47e8167425094c495c5ce52ccb20c4);
        

        marker_e9f6783823b70cfa004be7708359e889.bindPopup(popup_1b133d9404f85a0d94d9e422ea9e9305)
        ;

        
    
    
            marker_e9f6783823b70cfa004be7708359e889.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
</script>