<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_852c72a8d05a5011b67aeb236ae695eb {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_852c72a8d05a5011b67aeb236ae695eb" ></div>
        
</body>
<script>    
    
            var map_852c72a8d05a5011b67aeb236ae695eb = L.map(
                "map_852c72a8d05a5011b67aeb236ae695eb",
                {
                    center: [19.427568618500434, -99.16714800327108],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_2e63d0bacba5d48f840b130af2391734 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_852c72a8d05a5011b67aeb236ae695eb);
        
    
            var marker_a0865264941c22de7d7d226392907b5d = L.marker(
                [19.441880355203104, -99.20565298488336],
                {}
            ).addTo(map_852c72a8d05a5011b67aeb236ae695eb);
        
    
        var popup_8962921075b20aeadbd111e938da9468 = L.popup({"maxWidth": "100%"});

        
            var html_3b4b28d6c56b1e28a050b7784defd651 = $(`<div id="html_3b4b28d6c56b1e28a050b7784defd651" style="width: 100.0%; height: 100.0%;"><i>Mexico City</i></div>`)[0];
            popup_8962921075b20aeadbd111e938da9468.setContent(html_3b4b28d6c56b1e28a050b7784defd651);
        

        marker_a0865264941c22de7d7d226392907b5d.bindPopup(popup_8962921075b20aeadbd111e938da9468)
        ;

        
    
    
            marker_a0865264941c22de7d7d226392907b5d.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8cf3a96f96fdf4f6b38c9bf93e6dde04 = L.marker(
                [25.671574060835916, -100.31044027616298],
                {}
            ).addTo(map_852c72a8d05a5011b67aeb236ae695eb);
        
    
        var popup_5a92392439cc1c79c35ad80f7e05d24c = L.popup({"maxWidth": "100%"});

        
            var html_e7e332484c5ab6fee3765ffa431cd22b = $(`<div id="html_e7e332484c5ab6fee3765ffa431cd22b" style="width: 100.0%; height: 100.0%;"><i>Monterrey</i></div>`)[0];
            popup_5a92392439cc1c79c35ad80f7e05d24c.setContent(html_e7e332484c5ab6fee3765ffa431cd22b);
        

        marker_8cf3a96f96fdf4f6b38c9bf93e6dde04.bindPopup(popup_5a92392439cc1c79c35ad80f7e05d24c)
        ;

        
    
    
            marker_8cf3a96f96fdf4f6b38c9bf93e6dde04.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_80395c76651c6831569534f6abf792cd = L.marker(
                [19.200450774980304, -96.13845660409997],
                {}
            ).addTo(map_852c72a8d05a5011b67aeb236ae695eb);
        
    
        var popup_bbe0972c70eb8face9ec3ff65dc42a58 = L.popup({"maxWidth": "100%"});

        
            var html_531866b057bc38616842172f23d2764c = $(`<div id="html_531866b057bc38616842172f23d2764c" style="width: 100.0%; height: 100.0%;"><i>Veracruz</i></div>`)[0];
            popup_bbe0972c70eb8face9ec3ff65dc42a58.setContent(html_531866b057bc38616842172f23d2764c);
        

        marker_80395c76651c6831569534f6abf792cd.bindPopup(popup_bbe0972c70eb8face9ec3ff65dc42a58)
        ;

        
    
    
            marker_80395c76651c6831569534f6abf792cd.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f49721d18ca8ee1d191ac1061bb723cb = L.marker(
                [30.285303649633462, -97.7342065363303],
                {}
            ).addTo(map_852c72a8d05a5011b67aeb236ae695eb);
        
    
        var popup_3ddda93e90e76c1e023b7ef067050458 = L.popup({"maxWidth": "100%"});

        
            var html_c4b6cf02d361ee5de02a6fffcb6e2949 = $(`<div id="html_c4b6cf02d361ee5de02a6fffcb6e2949" style="width: 100.0%; height: 100.0%;"><i>Austin</i></div>`)[0];
            popup_3ddda93e90e76c1e023b7ef067050458.setContent(html_c4b6cf02d361ee5de02a6fffcb6e2949);
        

        marker_f49721d18ca8ee1d191ac1061bb723cb.bindPopup(popup_3ddda93e90e76c1e023b7ef067050458)
        ;

        
    
    
            marker_f49721d18ca8ee1d191ac1061bb723cb.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
</script>