{% extends "base.html"%} {% block head %}
<link lang="sass" rel="stylesheet" href="../static/styles/timeline.css" />
{{super()}} {%endblock%} {% block content %}

<div class="container">
  <form class="cool-form" id="form">
    <div class="field">
      <label>Name</label>
      <input type="text" name="name" />
    </div>

    <div class="field">
      <label>Email</label>
      <input type="email" name="email" />
    </div>

    <div class="field">
      <label>Content</label>
      <input type="text" name="content" />
    </div>

    <button type="submit">Create a new post</button>
  </form>

  <div id="current-posts"></div>
</div>

<script>
  const form = document.getElementById("form");
  form.addEventListener("submit", function (e) {
    e.preventDefault();
    const payload = new FormData(form);
    console.log([...payload]);

    fetch("http://146.190.27.200:5000/api/timeline_post", {
      method: "POST",
      body: payload,
      mode: 'no-cors',
    })
      .then((res) => {
      console.log(res)
      res.json()
    })
      .then((data) => {
        (data) => console.log(data);
      })
      .catch((err) => console.log(err));
  });

  fetch("http://146.190.27.200:5000/api/timeline_post", 
        {
           method: 'GET',
           mode: 'no-cors',
           cache: 'default',
        })
    .then((res) => {
    console.log(res)
    res.json()
  })
    .then((data) => {
        console.log(data)
        const html = data.timeline_post.map(post =>{
            console.log(post)
            return `<div class="post"><h4>ID:${post.id}</h4> <div>Name: ${post.name}</div> <p>Content: ${post.content}</p> <p>Created At: ${post.created_at}</p> </div>`
        }).join("")
        console.log(html)
        document.querySelector("#current-posts").insertAdjacentHTML("afterbegin",html)
    });
</script>

{%endblock%}
